body {
    margin: 0%;
    background-color: hsl(234, 11%, 52%);
    font-size: 18px;
}

.headercontainer {
    width: 100vw;
    height: 25vw;
    background-image: url('../images/bg-desktop-dark.jpg');
    background-size: cover;
    padding-top: 5vh;

}

.todo h1, img {
    display: inline-block;
}

.todo h1 {
    color: white;
    padding-left: 25%;
}

.todo img {
    padding-left: 30%;
}

form {
    padding-left: 25%;

}

input {
    width: 40%;
    height: 25px;
}