body {
    margin: 0%;
    background-color: black;
    font-size: 18px;
}

.headercontainer {
    width: 100vw;
    height: 25vw;
    background-image: url('../images/bg-desktop-dark.jpg');
    background-size: cover;
    padding-top: 5vh;

}

.todo h1, img {
    display: inline-block;
}

.todo h1 {
    color: white;
    padding-left: 25%;
}

.todo img {
    padding-left: 30%;
}

input {
    width: 40%;
    height: 25px;
}

.container, .additem {
    width: 80vw;  
    margin-left: auto;
    margin-right: auto;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border: 1px solid #F1F1F1;
    width: 70vw;
    padding: 10px;
    background-color: grey;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }



.additem form {
    justify-content: center;
    border-radius: 0%;
}

.additem input {
    width: 80vw;
    height: 10vw;
    font-size: x-large;
    background-color: grey;
    border-radius: 0;

}
