.light-theme {
    /* Light Theme */
    --bg-color: #ffffff;
    --text-color: #494C6B;
    --todo-color: #FFFFFF;
    --button-text-color: #FFFFFF;
    --background-image: url('../public/images/bg-mobile-light.jpg');
}

.dark-theme {
    /* Dark Theme */
    --bg-color: #25273D;
    --text-color: #C8CBE7;
    --button-text-color: #ffffff;
    --background-image: url('../public/images/bg-mobile-dark.jpg');
    --border-color: #C8CBE7
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: var(--background-image);
    background-repeat: no-repeat;
}

h1 {
    color: var(--todo-color);
}

button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    background-color: none;
    border-radius: 0;
    border: none;
}

ul {
    list-style: none;
}

h1 {
    float: left;
    margin-top: 50px;
    margin-left: 40px;
}

.themebutton {
    float: right;
    margin-top: 50px;
    margin-right: 25px;
}

input {
    margin-top: 10px;
    width: 80vw;
    height: 48px;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.listitem {
    max-width: 50vw;
    word-wrap: break-word;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    margin-left: 10vw;
    margin-right: 10vw;
}

label input[type="checkbox"] {
    position: absolute;
    left: -125px;
    height: 20px;

}


label button {
    margin-right: 1rem;
}

.footer p {
    text-align: center;
    margin-top: 50px;
    padding: 10%;
}

@media (min-width: 768px) {

    .light-theme {
        --background-image: url('../public/images/bg-desktop-light.jpg');
    }
    
    .dark-theme {
        --background-image: url('../public/images/bg-desktop-dark.jpg');
    }
    
    body {
        background-color: var(--bg-color);
        color: var(--text-color);
        background-image: var(--background-image);
        background-repeat: no-repeat;
    }
    
    input {
        margin-top: 30px;
        width: 80vw;
        height: 48px;
        margin-left: 10vw;
        margin-right: 10vw;
        background-color: var(--bg-color);
        color: var(--text-color);
    }
    
    .listitem {
        max-width: 50vw;
        word-wrap: break-word;
    }
    
    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 82px;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    label input[type="checkbox"] {
        position: absolute;
        left: -40%;
    }
    
    
    label button {
        margin-right: 2rem;
    }
    
    .footer p {
        text-align: center;
        margin-top: 50px;
        padding: 10%;
    }
}

@media (min-width: 1440px) {

    .light-theme {
        --background-image: url('../public/images/bg-desktop-light.jpg');
    }
    
    .dark-theme {
        --background-image: url('../public/images/bg-desktop-dark.jpg');
    }
    
    body {
        background-color: var(--bg-color);
        color: var(--text-color);
        background-image: var(--background-image);
        background-repeat: no-repeat;
    }

    body {
        background-color: var(--bg-color);
        color: var(--text-color);
        background-image: var(--background-image);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    h1 {
        float: left;
        margin-top: 50px;
        margin-left: 200px;
    }
    
    .themebutton {
        float: right;
        margin-top: 50px;
        margin-right: 250px;
    }

    input {
        margin-top: 30px;
        width: 80vw;
        height: 48px;
        margin-left: 10vw;
        margin-right: 10vw;
        background-color: var(--bg-color);
        color: var(--text-color);
    }
    
    .listitem {
        max-width: 50vw;
        word-wrap: break-word;
    }
    
    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 82px;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    label input[type="checkbox"] {
        position: absolute;
        left: -40%;
    }
    
    
    label button {
        margin-right: 2rem;
    }
    
    .footer p {
        text-align: center;
        margin-top: 50px;
        padding: 10%;
    }
}